@model List<CarNotes.Models.CommonModel>
@using CarNotes.Classes;

    
<div>
    <table>
        <caption class="nameTable" style="background-color:@Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name))">@ViewBag.Name</caption>
        <tr>
            <th>Тип записи</th>
            <th>Дата</th>
            <th>Пробег</th>
            <th>Стоимость</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Record == CarNotes.Enums.RecordType.Refuel)
                    {
                        @:Заправка
                    }
                    else
                    {
                        @:Ремонт
                    }
                </td>
                <td>@item.Date</td>
                <td>@item.Mileage</td>
                <td>@item.Cost</td>
            </tr>
        }

    </table>
</div>
