@model CarNotes.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>Почта: @Html.TextBoxFor(x => x.Login)</p>
            <p>Пароль: @Html.PasswordFor(x => x.Password)</p>
            @Html.ValidationSummary();
            <input type="submit" value="Войти" class="button" />
        }
        <a href="@Url.Content("~/Registration/Index")">Регистрация</a>
    </div>
</body>
</html>
