
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EndOfRegistration</title>
</head>
<body>
    <div> 
        Вы успешно зарегистрировались!
        <a href="@Url.Content("~")">Вернуться на главную страницу</a>
    </div>
</body>
</html>
