/*_BasicTemplate*/
html, body {
    margin: 0;
    padding: 0;
}
/*верхняя часть с логотипом*/
.top {
    margin-top: 0px;
    margin-bottom: 50px;
    border-bottom: 1px solid thin lightgray;
    background-color: floralwhite;
    height: 60px;
}

.topLetters {
    margin-right: 30px;
    margin-top: 20px;
    text-align: right;
    text-decoration: none;
}

.image {
    float: left;
    margin-left: 30px;
}
/*ссылки под логотипом*/
.links {
    font-size: 20px;
    text-align: center;
}

/*таблица с данными*/
.content {
    width: 800px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th {
    font-weight: normal;
    padding: 10px 8px;
}

td {
    padding: 9px 8px;
    transition: .05s linear;
}

.nameTable {
    font-size: 25px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: floralwhite;
}

tr:hover td {
    color: floralwhite;
}

/*кнопки для перехода в окно создания события*/
.button {
    opacity: 0.65;
    height: 25px;
    margin-top: 20px;
    display: inline-block;
    border: none;
    border-radius: 15px;
    color: floralwhite;
}

.buttons {
    text-align: center;
}
/*всплывающая форма создания события*/
.modal {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.form{
    position:relative;
    width: 600px;
    border: 1px solid grey;
    background-color: floralwhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
}
/*кнопка закрытия во всплывающих окнах*/
.cross {
    position: absolute;
    top: 8px;
    right: 12px;
}
.cross>p
{
    margin:0;
}
