@using CarNotes.Models
@using CarNotes.Classes
@{
    List<SubMenuModel> buttons = new LinkMenuHelper().getButtons(ViewBag.Name);
    Layout = null;
}
<style>
    .submenu {
        margin-bottom: 15px;
        text-align:center;
    }
</style>
@if (ViewBag.IsChecked)
{
    <div class="submenu">
        @foreach (SubMenuModel s in buttons)
        {
            <input type="button" value="@s.Name" class="ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="popup('@s.Name')" />
        }
    </div>
}
