 <form action="@Url.Content("~/Refuel/Edit")" id="formEdit" class="form">
    <p>Дата: </p><input type="text" name="Date" />
    <p>Пробег: </p><input type="text" name="Mileage" />
    <p>Вид топлива: </p><input type="text" name="Fuel" />
    <p>АЗС: </p><input type="text" name="Station" />
    <p>Объем: </p><input type="text" name="Volume" />
    <p>Цена: </p><input type="text" name="PricePerOneLiter" />
    <p>Полный бак: </p><input type="checkbox" name="FullTank" />
    <p>Забыл внести предыдущие данные: </p><input type="checkbox" name="ForgotRecordPreviousGasStation" />
    <input type="hidden" value="@Model.Id" name="Id" /><br>
    <input type="submit" value="Сохранить изменения" class="button"/>
</form>