

    <i class="close icon"></i>
    <div class="header"></div>
    <div class="content">
        <div class="description"></div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Закрыть
        </div>
    </div>

