

    <i class="close icon"></i>
    <div class="header"></div>
    <div class="image content">
        <div class="description"></div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Закрыть
        </div>
    </div>

@*<i class="close icon"></i>*@
@*<div id="ExpenseShowDiv" class="content">
    <div class="ui card">
        <div class="content">
            <div class="header"></div>
            <div class="meta"></div>
            <div class="description"></div>
        </div>
    </div>
</div>*@

