@using CarNotes.Classes
@using CarNotes.Models
@{
    List<GasStationModel> gasStation = new RefuelHelper().GetGasStationsList();
}
<i class="close icon"></i>
<div class="header">
    Изменение данных о заправке
</div>
<div class="content">
    <form action="/Refuel/Edit" method="post" class="ui form" id="formEdit">
        <div class="field">Дата: <input type="text" name="Date" class="MyDateRangePicker" /></div>
        <div class="field">Пробег: <input type="number" name="Mileage" /></div>
        <div class="field">
            Тип топлива: <select name="Fuel" class="ui fluid dropdown">
                <option value="1">"АИ80"</option>
                <option value="2">"АИ92"</option>
                <option value="3">"АИ95"</option>
                <option value="4">"АИ95 Plus"</option>
                <option value="5">"АИ98"</option>
            </select>
        </div>
        <div class="field">
            АЗС: <select name="Station" onchange="changeSelectListEdit(event)" class="ui fluid dropdown">
                @foreach (var elem in gasStation)
                {
                    <option value="@elem.Id">@elem.Name</option>
                }
            </select>
        </div>
        <p style="display:none"><input type="text" name="CustomStation" /></p>
        <div class="field">Объем: <input type="number" name="Volume" /></div>
        <div class="field">Цена: <input type="number" name="PricePerOneLiter" /></div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="FullTankCheckbox" />
                <label>Полный бак</label>
            </div>
        </div>
        <div style="display:none" id="hiddenFullTank" class="field"><label>&#10004 Полный бак</label></div>
        <input type="hidden" name="FullTank" />
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="ForgotRecordPreviousGasStationCheckbox" />
                <label>Забыл внести предыдущие данные</label>
            </div>
        </div>
        <div style="display:none" id="hiddenForgotRecord" class="field"><label>&#10004 Забыл внести предыдущие данные</label></div>
        <input type="hidden" name="ForgotRecordPreviousGasStation" />
        <input type="hidden" name="Id" /><br>
    </form>
</div>
<div class="actions">
    <div class="ui black deny button">
        Отмена
    </div>
    <div class="ui black deny button closeRefuelEditButton" style="display:none">
        Закрыть
    </div>
    <div class="ui positive button">
        Изменить
    </div>
</div>