@using CarNotes.Classes
@using CarNotes.Models
@{
    List<GasStationModel> gasStation = new RefuelHelper().GetGasStationsList();
}
<i class="close icon"></i>
<div class="header">
    Изменение данных о заправке
</div>
<div class="content">
    <form action="/Refuel/Edit" method="post" class="ui form" id="formEdit">
        <div class="field">Дата: <input type="text" name="Date" class="MyDateRangePicker" /></div>
        <div class="field">Пробег: <input type="text" name="Mileage" /></div>
        <div class="field">
            Вид топлива: <select name="Fuel" class="ui fluid dropdown">
                @foreach (var elem in new string[] { "A80", "A92", "A95", "A98" })
                {
                    <option>@elem</option>
                }
            </select>
            @*<input type="text" name="Fuel" />*@
        </div>
        <div class="field">
            АЗС: <select name="Station" onchange="changeSelectListEdit(event)" class="ui fluid dropdown">
                @foreach (var elem in gasStation)
                {
                    <option value="@elem.Id">@elem.Name</option>
                }
            </select>
        </div>
        <p style="display:none"><input type="text" name="CustomStation" /></p>
        <div class="field">Объем: <input type="text" name="Volume" /></div>
        <div class="field">Цена: <input type="text" name="PricePerOneLiter" /></div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="FullTankCheckbox" />
                <label>Полный бак</label>
            </div>
        </div>
        <input type="hidden" name="FullTank" />
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" name="ForgotRecordPreviousGasStationCheckbox" />
                <label>Забыл внести предыдущие данные</label>
            </div>
        </div>
        <input type="hidden" name="ForgotRecordPreviousGasStation" />
        <input type="hidden" name="Id" /><br>
        @*<input type="submit" value="Сохранить изменения" class="button" onclick="RefuelEditSubmit()" />*@
    </form>
</div>
<div class="actions">
    <div class="ui black deny button">
        Отмена
    </div>
    <div class="ui positive button">
        Изменить
    </div>
</div>