@using CarNotes.Classes
<i class="close icon"></i>
<div class="header">
    Изменение данных о ремонте
</div>
<div class="content">
    <form action="/Repair/Edit" method="post" class="ui form" id="RepairFormEdit">
        <div class="field">Дата: <input type="text" name="Date" class="MyDateRangePicker" /></div>
        <div class="field">Пробег: <input type="text" name="Mileage" /></div>
        <div class="field">Название ремонтных работ: <input type="text" name="Repair" /></div>
        <div class="field">Сервис: <input type="text" name="CarService" /></div>
        <div class="field">Стоимость ремонтных работ:<input type="text" name="RepairCost" /></div>
        <div class="field">Комментарии<input type="text" name="Comments" /></div>
        <input type="hidden" name="Id" /><br>
        <div class="ui button" onclick="addCarPart('RepairFormEdit')">Добавить запчасть</div>
        <table name="Parts" style="display:none" class = "ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Система</th>
                    <th>Подсистема</th>
                    <th>Производитель</th>
                    <th>Артикул</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </form>
</div>
<div class="actions">
    <div class="ui black deny button">
        Отмена
    </div>
    <div class="ui positive button">
        Изменить
    </div>
</div>
