@using CarNotes.Classes
<i class="close icon"></i>
<div class="icon header">
    Изменение данных о ремонте
</div>
<div class="content">
    <form action="/Repair/Edit" method="post" class="ui form" id="RepairFormEdit">
        <div class="field">Дата: <input type="text" name="Date" class="MyDateRangePicker" /></div>
        <div class="field">Пробег: <input type="text" name="Mileage" /></div>
        <div class="field">Название ремонтных работ: <input type="text" name="Repair" /></div>
        <div class="field">Сервис: <input type="text" name="CarService" /></div>
        <div class="field">Стоимость ремонтных работ:<input type="text" name="RepairCost" /></div>
        <div class="field">Комментарии<input type="text" name="Comments" /></div>
        <input type="hidden" name="Id" /><br>
        <div class="ui button" onclick="addCarPart()">Добавить запчасть</div>
        <table id="mainRepairEditTable" name="Parts" style="display:none" class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table"></table>
    </form>
</div>
<div class="actions">
    <div class="ui black deny button">
        Отмена
    </div>
    <div class="ui positive button">
        Изменить
    </div>
</div>
<table style="display:none" id="cloneRepairEditTable">
    <tr>
        <td>
            <div class="three fields">
                <div class="field">
                    <input type="text" name="Name" placeholder="Название автозапчасти">
                </div>
                <div class="field">
                    <select name="System" class="ui fluid dropdown">
                        <option value="">Система</option>
                    </select>
                </div>
                <div class="field">
                    <select name="Subsystem" class="ui fluid dropdown">
                        <option value="">Подсистема</option>
                    </select>
                </div>
            </div>
            <div class="three fields">
                <div class="field">                    
                    <input name="CarManufacturer" type="text" placeholder="Производитель">
                </div>
                <div class="field">                   
                    <input name="Article" type="text" placeholder="Артикул">
                </div>
                <div class="field">                    
                    <input name="Price" type="text" placeholder="Цена">
                </div>
                <div class="ui icon button deleteCarPartButton"><i class="trash alternate icon"></i></div>
            </div>
        </td>

    </tr>
</table>